
/* reset table -- 湛江*/
.el-table__zj .el-table {
    background-color: transparent;
  }
  .el-table__zj .el-table thead {
    color: white;
  }

  .el-table__zj .el-table th,  .el-table__zj .el-table tr {
      background-color: transparent;
      color: white;
  }
  .el-table__zj .el-table thead tr  {
    background:linear-gradient(to right, rgba(6, 43, 87) 90%, transparent);
 };

  .el-table__zj .el-table .el-table__body-wrapper th:hover {
    background-color: transparent;
  }
  
  .el-table__zj .el-table .el-table__body-wrapper tr:hover {
    background-color: transparent;
  }
 
  .el-table__zj .el-table--enable-row-hover .el-table__body tr:hover > td {
    background-color: transparent;
  }
  
  .el-table__zj .el-table td,
  .el-table__zj .el-table th.is-leaf {
    border-color: transparent;
  }
  .el-table__zj .el-table--border::after,
  .el-table__zj .el-table--group::after,
  .el-table__zj .el-table::before {
    background-color: transparent;
  }

  /* select */

  .select {
    width: 160px;
    display: inline-block;
    height: 100%;
    position: relative;
    box-sizing: content-box;
    padding-right: 40px;
  }
  .select-name {
    cursor: pointer;
    height: 100%;
    color: #d19328;
    position: relative;
  }

  .select-name.select-close::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 10px solid #a4a5a8;
    border-left: 11px solid transparent;
    bottom: 30px;
    right: -30px;
    transition: ease-in;
  }

  
  .select-name.select-open::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 10px solid transparent;
    border-top: 10px solid #a4a5a8;
    border-right: 11px solid transparent;
    border-left: 11px solid transparent;
    top: 34px;
    right: -30px;
    transition: ease-in;
  }

  .select-ul {
    width: 100%;
    position: absolute;
    left: 0;
    top: 80px;
    border: 1px solid black;
    text-align: left;
    background-color: #101b31;
    z-index: 9999;
  }
  .select-ul .select-li {
    line-height: 1;
    font-size: 18px;
    padding: 6px 20px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #606266;
    height: 34px;
    line-height: 34px;
    box-sizing: border-box;
    cursor: pointer;
    box-sizing: content-box;
  }
  
  .select-ul .select-li:hover {
    color: #d19328;
  }

  .select-ul .select-li.active {
    color: #d19328;
  }

  .page__div {
    text-align: right;
  }

  .page__div  .el-pagination .btn-next, 
  .page__div .el-pagination .btn-prev, 
  .page__div .el-pagination .el-pager li {
    background-color: transparent;
  }

  .page__div .el-pagination .el-pager li:not(.disabled).active {
    /* color: #062b57; */
    background-color:#062b57 ;
  }

  .page__div  .el-pagination .el-pager li:not(.disabled):hover {
    color: #fff;
  }
  .title__zj {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }